html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}
.controlPane {
  width: 100%;
  height: 100%;
}
.controlPane .content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  font-size: 2rem;
}
.paneButtons {
  position: absolute;
  bottom: 20px;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  white-space: nowrap;
}
.paneButtons button {
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
  padding: 7px 15px;
  border: none;
  border-right: 1px solid black;
}
.paneButtons button:last-child {
  border-right: none;
}
.paneButtons button.active {
  background-color: rgba(13, 150, 155, 0.603);
  color: white;
}
.paneButtons button:focus {
  outline: none;
}

textarea {
  color: inherit;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  border: none;
  padding: 2vw 3vw;
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: calc(100vh - 2vw - 1em);
  font-family: Courier, monospace;
  transform-origin: top left;
}

/* Buttons control pane */
.controlPane.buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  height: calc(100vh - 70px);
}
.controlPane.buttons button {
  background-color: rgba(0, 0, 0, 0.534);
  color: white;
  text-shadow: inherit;
  border: none;
  font-size: 15vw;
  user-select: none;
}
.controlPane.buttons button:active {
  background-color: rgba(0, 0, 0, 0.7);
}

/* dark theme */
.darkTheme body {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
}
.darkTheme .controlPane.buttons button:active {
  background-color: rgba(255, 255, 255, 0.7);
}
.darkTheme .controlPane {
  /* text-shadow: white 0 0 10px; */
}

#displayMirror {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
  user-select: none;
  touch-action: none;
  pointer-events: none;
}
#displayMirror .wrapper {
  transform-origin: top left;
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
}
#displayMirror .display {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.486);
  border-bottom: 1px solid rgba(255, 255, 255, 0.486);
}

#focusPoint {
  font-family: monospace;
  color: #37e4ff;
  position: absolute;
}